services:
  app:
    build:
      context: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - media_data:/vol/web/media
      - static_data:/vol/web/static

  db:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data

  celery:
    build:
      context: .
    command: celery -A hotel_booking_service worker --loglevel=info
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - media_data:/vol/web/media
    restart: unless-stopped

  celery-beat:
    build:
      context: .
    command: >
      celery -A hotel_booking_service
      beat -l info
      --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
#
#  telegram_bot:
#    build:
#      context: .
#    command: python manage.py bot
#    env_file:
#      - .env
#    depends_on:
#      - db
#      - redis
#    restart: unless-stopped

volumes:
  db_data:
  media_data:
  static_data:
  redis_data:
